@model Carpooling.Models.Viaje

<head>
    <link rel="stylesheet" href="~/css/detallesStyle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>

<body>
    <div class="contenedor">
        <h1>¿Estás seguro de que quieres eliminar esta publicación?</h1>
        <form asp-action="Delete" class="detalles">
            <dl class="detalles">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Hora)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hora)
                </dd>
                <dt>
                    Tipo de Viaje
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TipoViaje)
                </dd>
                <dt>
                    Estado del viaje
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt>
                    Número de cupos disponibles
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cupos)
                </dd>
                <dt>
                    Nombre del conductor
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreConductor)
                </dd>
            </dl>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="button" />
            <a asp-action="Index" >Volver al muro</a>
        </form>
        

    </div>
</body>