@model IEnumerable<Carpooling.Models.Viaje>
@using Carpooling.Models;

@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
<head>
    <link rel="stylesheet" href="~/css/TablaEstilo.css" />
    <style>
        body {
            margin: 0;
            background: url(../images/animado7.gif);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div id="main-container">
        <h2>Muro de publicaciones</h2>

        @{

            // var cantidad = @Model.SelectMany(x => x.UsuariosViajes).SelectMany(x => x.Usuarios.Vehiculos).Count(s=>s.UsuarioId.Equals(UserManager.GetUserId(User)));




        }


        @if (2 >= 1)
        {
            <input type="button" value="Publica tu cupo" class="button" onclick="location.href='/Viajes/Create'" />
        }
        else
        {
            <input type="button" disable value=" tu cupo" class="button" onclick="" />


        }
        <table class="table" style="width: 100%; text-align:center;">
            <thead>
                <tr style="text-align: center;">
                    <th colspan="2" align="center">
                        Descripción
                    </th>
                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.Hora)
                    </th>
                    <th colspan="2" align="center">
                        TipoViaje
                    </th>
                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.Cupos)
                    </th>
                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.NombreConductor)
                    </th>
                    <th></th>
                    <th></th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    if(item.EsMio)
                    { DateTime hoy = DateTime.Today;
                        if (hoy.Date <= item.Hora.Date)
                        {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.Hora)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.TipoViaje)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.Cupos)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.NombreConductor)
                            </td>
                            }



                            @if (!item.NombreConductor.Equals(@UserManager.GetUserName(User)))
                            {
                                <td>
                                    <a asp-action="Solicitar" asp-route-id="@item.Id" class="btn btn-info" >solicitar</a>
                                </td>

                                <td>
                                    <a class="btn btn-info" asp-action="#" asp-route-id="#">Perfil</a>
                                </td>
                            }
                            @if (item.NombreConductor.Equals(@UserManager.GetUserName(User)))
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                                </td>

                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Eliminar</a>
                                </td>
                            }

                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                            </td>

                        </tr>

                        }

                    }
                }



            </tbody>
        </table>
    </div>
</body>


