@model IEnumerable<Carpooling.Models.Viaje>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="width: 100%; text-align:center;">
    <thead>
        <tr>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.TipoViaje)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Cupos)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.NombreConductor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.TipoViaje)
            </td>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.Cupos)
            </td>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.NombreConductor)
            </td>
            <td colspan="2">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
