@model IEnumerable<Carpooling.Models.Viaje>


@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
<head>
    <link rel="stylesheet" href="~/css/TablaEstilo.css" />
    <style>
        body {
            margin: 0;
            background: url(../images/animado7.gif);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div id="main-container">
        <h2>Muro de notificaciones</h2>


        <table class="table" style="width: 100%; text-align:center;">
            <thead>
                <tr style="text-align: center;">
                   


                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.Hora)
                    </th>
                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.TipoViaje)
                    </th>
                    </th>
                    <th colspan="2" align="center">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    
                    <th colspan="2" align="center">
                        Nombre del Pasajero
                    </th>
                    <th></th>
                    <th></th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model)
                {
                    if (!item.EsMio&&item.NombreConductor.Equals(UserManager.GetUserName(User)))
                    {
                        
                <tr>
                    
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.TipoViaje)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                  
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.emailotro)
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Eliminar</a>
                    </td>


                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                    </td>
                    }



                </tr>

                        

                    }
                }



            </tbody>
        </table>
    </div>
</body>

