@model CarpoolingV2.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/fondo.css" />
<h2>Eliminar vehículo</h2>

<h3>¿Estás seguro de que deseas eliminar este vehículo?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Placa" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
