@model IEnumerable<Carpooling.Models.Tribu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/TablaVehiculo.css">
    <title></title>
</head>


<body>
    <br /><br /><br /><br /><br />

    <div id="main-container">


        <head>
            <style>
                .heading {
                    color: #ffffff;
                }
            </style>
        </head>
        <h2 class="heading" align="center">Tribus</h2>

        <p>
            <a asp-action="Create" class="btn btn-info"> Crear Tribu</a>
        </p>

      <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeneroMusical)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneroMusical)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="" class="btn btn-info">Edit</a>
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="" class="btn btn-info">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="" class="btn btn-info">Delete</a>
                </td>
            </tr>
        }

        </table>
    </div>
</body>
