@model IEnumerable<Carpooling.Models.Tribu>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/IndexTribus.css">
</head>
<body>
    <h1>Hola mundo</h1>
</body>

@*<body>

    <div id="main-container"

   
        <head>

            <style>
                .heading {
                    color: #ffffff;
                }
            </style>
        </head>

     
    <table>
        <thead>
        

        <h2 class="heading" align="center">Tribus</h2>

        <div>
            <a asp-action="Create" class="btn btn-info">Crear Tribu</a>
        </div>

      <table>
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeneroMusical)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneroMusical)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Elimiar</a> |
                        <a asp-action="Join" asp-route-id="@item.Id">Unirse</a> |
                        @if (ViewBag.Saved != null)
                        {
                            if (ViewBag.Saved)
                            {
                                <script>
                                    alert('Ya te habias unido a esta tribu
                                </script>
                            }
                            else
                            {
                                <script>
                                    alert('Has sido agregado a la tribu');
                                </script>
                            }

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    </div>
</body>*@
