@model Carpooling.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/detallesStyle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>


<body>
    <div class="contenedor">
       
            <h3> Está seguro que quiere eliminar este vehiculo?</h3>
            <form asp-action="Delete" class="detalles">

                <dl class="detalles">

                    <dt>
                        @Html.DisplayNameFor(model => model.Marca)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Marca)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Modelo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Modelo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Color)
                    </dd>

                </dl>

                    <input type="hidden" asp-for="Placa" />
                    <input type="submit" value="Delete" class="button" /> |
                    <a asp-action="Index">Back to List</a>
            </form>
        
    </div>
</body>