@model IEnumerable<Carpooling.Models.Vehiculo>

<head>
    <link rel="stylesheet" href="~/css/TablaEstilo.css" />
    <style>
        body {
            margin: 0;
            background: url(../images/numero.jpg);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
 
    <div id="main-container">


         <head>
            <style>
                .heading {
                    color: #ffffff;
                }
            </style>
        </head>
        <h2 class="heading" align="center">Muro de Vehiculos</h2>


          <p>
        <a asp-action="Create" class="btn btn-info">Agrega un vehiculo!</a>
          </p>



        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <td>
                        @Html.DisplayNameFor(model => model.Placa)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.Modelo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Placa" class="btn btn-info">Edit</a>
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Placa" class="btn btn-info">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Placa" class="btn btn-info">Delete</a>
                </td>
            </tr>
                }
          
        </table>
    </div>
</body>


