@model IEnumerable<Carpooling.Models.Vehiculo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/TablaVehiculo.css">
    <title></title>
</head>
<body>
    <br /><br /><br /><br /><br />
  
    <div id="main-container">


         <head>
            <style>
                .heading {
                    color: #ffffff;
                }
            </style>
        </head>
        <h2 class="heading" align="center">Muro de Vehiculos</h2>


          <p>
        <a asp-action="Create" class="btn btn-info">Agrega un vehiculo!</a>
          </p>



        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Placa" class="btn btn-info">Edit</a> 
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Placa" class="btn btn-info">Details</a> 
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Placa" class="btn btn-info">Delete</a>
                </td>
            </tr>
                }
          
        </table>
    </div>
</body>


