@model CarpoolingV2.Models.Viaje

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la publicación</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoViaje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoViaje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cupos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cupos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreConductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreConductor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
