@model IEnumerable<CarpoolingV2.Models.Viaje>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/index.css" />
<h2>Publicaciones de cupos</h2>

<p>
    <a asp-action="Create">Publica tu cupo ahora mismo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoViaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreConductor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoViaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cupos)
                </td>
                <td>
                    @Html.ActionLink(item.NombreConductor,"Profile", "User")
                </td>
                <td>
                    <a class="solicitar" asp-action="Solicitar" asp-route-id="@item.Id">Solicitar</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
